
.detail-banner{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.detail-banner img{
    width:200px;
}
img {
    max-width:100%;
}
.main-style{
    color: #fff;
}
.detail-style{
    background-color: #22a6b3;
}
.main-section-style{
    background-color: #4834d4;
    border-radius: 5px;
}
.icon-style a{
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-style :hover{
    color: #fff;
}

.facebook{
background-color: #3B5998;
}
.faYoutube{
    background-color: red;
}

.faTwitter {
    background-color: #1C9CEA;
}

